$color1: #003399;
$color2: #25537B;
$color3: #F0F02F;
$color4: #2C3143;
$color5: #FBFBFB;
$color6: #222222;
$color7: #999999;
$color8: #CCC;

$linear-gradient1: linear-gradient(180deg, #2C3143 33.16%, #222222 100%);
$linear-gradient2: linear-gradient(260deg, #003399 0%, #25537B 100%);;

