
<header class="hero-section">
    <h2 class="hero-section__text hero-section__text--uppercase">Contacto</h2>
</header>

<div class="contact-form">
    <div class="form">
        <form action="#" class="form__form">
            <div class="form__input-container">
                <input id="customerName" name="customerBrand" type="text" placeholder=" " class="form__input" title="Nombre">
                <label for="customerName" class="form__label">Nombre</label>
                <span class="form__error-item"></span>
            </div>
            <div class="form__input-container">
                <input id="customerEmail" name="customerEmail" type="text" placeholder=" " class="form__input" title="E-mail">
                <label for="customerEmail" class="form__label">E-mail</label>
                <span class="form__error-item"></span>
            </div>
            <div class="form__textarea-container">
                <textarea name="customerMessage" id="customerMessage" cols="30" rows="5" placeholder=" " class="form__textarea" title="Comentario"></textarea>
                <label for="customerMessage" class="form__textarea-label">Comentario</label>
                <span class="form__error-item"></span>
            </div>
            <div class="form__submit-btn-container">
                <input type="submit" class="form__submit-btn">
            </div>
            <div class="form__error-list-container form__error-list-container--hidden">
                <ul class="form__error-list">
                </ul>
            </div>
        </form>
    </div>
</div>

<script src="/js/form.js"></script>