
<header class="hero-section hero-section--blue">
    <img src="img/logo/logo.png" alt="logo" class="hero-section__img">
    <h2 class="hero-section__text">Juguetería <span class="hero-section__text--title2">Cósmica</span></h2>
</header>

<section class="section-cards">
    <header class="section-cards__header">
        <h1>¡Bienvenido!</h1>
        <p>A continuación, el listado de juguetes destacados</p>
    </header>

    <div class="cards-container">
    </div>

    <footer class="section-cards__foter"></footer>
</section>

<script src="/js/loadProducts.js"></script>