
<header class="hero-section hero-section--blue">
    <img src="img/logo/logo.png" alt="logo" class="hero-section__img">
    <h2 class="hero-section__text">Juguetería <span class="hero-section__text--title2">Cósmica</span></h2>
</header>

<section class="section-cards">
    <header class="section-cards__header">
        <h1>¡Bienvenido!</h1>
        <p>A continuación, el listado de juguetes destacados</p>
    </header>

    <div class="cards-container">

        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <div class="card__wishlist-btn-container">
                        <img class="card__wishlist-btn" src="img/icons/star-regular.svg" alt="Agregar a la wishlist">
                    </div>
                    <img class="card__image" src="/img/products/mario.png" alt="Producto">
                </div>
                <div class="card__content">
                    <div class="card__heading-container">
                        <h2 class="card__heading">Mario</h2>
                    </div>
                    <div class="card__details">
                        <div class="card__price-container">
                            <p class="card__price">1,500</p>
                        </div>
                        <div class="card__description-container">
                            <p class="card__description">¡Figura del fontanero favorito de los niños!</p>
                        </div>
                        <div class="card__link-container">
                            <a href="#" class="card__link">
                                <img class="card__link-img" src="img/icons/cart-shopping-solid.svg" alt="">
                                <p class="card__link-text">Añadir</p>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        
    </div>

    <footer class="section-cards__foter"></footer>
</section>

<script src="/js/loadProducts.js"></script>