<header class="hero-section">
    <h2 class="hero-section__text hero-section__text--uppercase">Nosotros</h2>
</header>

<div class="about-us">
    <img class="about-us__img" src="img/logo/logo.png" alt="Logo">
    <div class="about-us__paragraph-container">
        <p class="about-us__paragraph">
            La <b>Juguetería Cósmica</b> tiene como objetivo proveer los juguetes más deseados por los niños y adolescentes, con el fin de brindarles horas de entretenimiento y diversión.
        </p>
        <p class="about-us__paragraph">
            Fue fundada en 2008, y desde ese entonces ha estado en constante crecimiento, haciendo feliz y entregando juguetes a millones de clientes.
        </p>
        <p class="about-us__paragraph">
            "La creación de la <b>Juguetería Cósmica</b> fue motivada por el sentimiento de emoción de los niños al recibir juguetes nuevos, queriendo brindar ese mismo sentimiento a todo quien adquiera juguetes."
        </p>
        <p class="about-us__paragraph about-us__paragraph--muted">
            Fundador de la Juguetería Cósmica, Fulano Ipsum
        </p>
    </div>
</div>