@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;

.hero-section{
    background: c.$linear-gradient1;
    height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;

    @media(min-width: 768px){
        height: 250px;
    }

    &--blue{
        flex-direction: row-reverse;
        background: c.$linear-gradient2
    }

    &__text{
        color: c.$color5;
        font-size: 2rem;
        font-family: f.$title1;
        font-weight: 400;
        text-align: center;
        text-shadow: -12px 4px 8px rgba(0, 0, 0, 0.25);

        &--title2{
            display: block;
            font-family: f.$title2;
        }

        &--uppercase{
            text-transform: uppercase;
        }

        @media(min-width: 768px){
            font-size: 4rem;
        }
    }

    &__img{
        height: 86px;
        max-width: 100%;
        @media(min-width: 768px){
            height: 170px;
        }
    }
}