@use '../abstracts/colors' as c;

.newsletter-form{
    padding: 0.75rem 0.8rem;
    width: fit-content;
    display: flex;

    &__form{
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 768px){
            max-width: 400px;
        }
    }

    &__text{
        width: 100%;
        display: block;
        margin: 0 0 0.5rem 0;
        color: c.$color5;
        text-transform: uppercase;
        font-size: 1.125rem;
        @media (min-width: 768px){
            width: auto;
        }
    }

    &__input-container{
        position: relative;
        justify-content: flex-start;
        display: flex;
        flex-grow: 1;
        
    }

    &__input{
        border: 1px solid c.$color7;
        border-radius: 50px;
        height: 3rem;
        font-size: 0.875rem;
        padding: 0.5rem 0.8rem 0 0.8rem;
        flex-grow: 1;
        margin-right: 1rem;
        background-color: c.$color10;

        &::placeholder{
            opacity: 0;
        }

        &:focus::placeholder{
            opacity: 1;
        }
    }

    &__label{
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.875rem;
        transition-duration: 150ms;
        cursor: text;
    }

    &__input:focus ~ &__label,
    &__input:not(:placeholder-shown) ~ &__label{
        top: 25%;
        font-size: 0.75rem;
        color: c.$color7;
    }

    &__btn{
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;
    }

    &__btn-img{
        width: 1.25rem;
        height: auto;
        filter: invert(1);
    }

    
}