.main-header{
    display: flex;
    flex-wrap: wrap;

    &__logo-container{
        padding: 1em;
        flex-basis: 5em;

        @media (min-width: 768px){
                flex-basis: 10em;
        }
    }

    &__logo{
        width: 64px;
        height: auto;
    }
    &__search-form-container{
        padding: 1em;
        flex-grow: 1;

        @media (min-width: 768px){
            order: 2;
            flex: 0 1 15em;
        }
    }
    &__cart-button-container{
        padding: 1em;
        @media (min-width: 768px){
            order: 3
        }
    }
    &__hamburger-button-container{
        padding: 1em;
        @media (min-width: 768px){
            display: none;
        }
    }
    &__main-nav-container{
        background-color: yellow;
        flex-basis: 100%;
        display: none;
        flex-grow: 1;
        @media (min-width: 768px){
            flex-grow: 1;
            flex-basis: auto;
            order: 1;
            display: block;
        }
    }
}