@use '../abstracts/fonts' as f;
@use '../abstracts/colors' as c;

:root{
    @media(min-width: 768px){
        font-size: 18px;
    }
}

*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    font-family: f.$body;
    color: c.$color6;
    background-color: c.$color5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}