@use '../abstracts/fonts' as f;
@use '../abstracts/colors' as c;

*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    font-family: f.$body;
    background-color: c.$color5;
    min-height: 2000px;
}